body{
    margin: 0px;
    font-family:monospace;
}

/* Body Header */

#body-header{
    height: 65vh;
    opacity: 0.8;
    background-image: url(images/header.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* Horizontal Lists */

.horizontal-list{
    list-style: none;
    padding-left: 0px;
    margin: 0px;
}

.horizontal-list li{
    display: inline-block;
    margin: 0px 8px 8px 0px;
}


.horizontal-list li a{
    color: white;
    text-decoration: none;   
}

.nav-menu li a{
    transition: color 0.5s, border-bottom 0.5s;
}

.nav-menu li a:hover{
    color: rgb(0, 0, 0);
    border-bottom: 1px solid rgb(0, 0, 0);
}


.text-center{
    text-align: center;
}


#my-name{
    font-size: 4rem;
    letter-spacing: 0.1 rem;
    color: white;
    font-weight: 700;
    margin-bottom: 0.5rem;
    margin-top: 8rem;
    /* box-shadow: black 0px -50px 140px; */
    transition: box-shadow 1s;
    animation: nameShadowAnimation 2s linear 1 forwards;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}
@keyframes nameShadowAnimation {
    0%{
        
    }

    100%{
        box-shadow: black 0px -50px 140px;  
    }
}

.social-icons li a img{
    height: 30px;
    margin-top: auto;
    padding: 5px;
    transition: 0.5s ease-out; 
}

.social-icons li a img:hover{
    height: 50px;
    transition: 0.2s ease-in;
}

/* About Section */

#about{
    height: auto;
    width: 100%;
    position: relative;
}

#my-image{
    height: 12rem;
    width: 12rem;
    margin:auto;
    margin-top: -17vh;
}

#my-image img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 1px 1px 10px 2px lightgray;
}

#about-para{
    padding: 10px;
    height: auto;
    width: 70%;
    margin: 30px;
}

/* Sections */

section{
    width: 100%;
    height: auto;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section:nth-child(2n){
    background-color: rgb(243, 243, 243);
}

section:nth-child(2n+1){
    background-color:white;
}

.section-heading{
    width: auto;
    padding: 20px 20px 20px;
    font-weight: 400;
    margin-bottom: 50px;
}

.section-heading span{
    font-size: 35px;
    color: rgb(36, 36, 104);
    display: inline-block;
    padding-top: 10px;
}

.section-icon{
    height: 25px;
}

/* Common Margin Section */

.mb75px{
    margin-bottom: 75px;
}

/* Common Color Class */

.mb-red{
    background-color: red;
}

.mb-blue{
    background-color: rgb(25, 0, 165);
}

.mb-orange{
    background-color: rgba(255, 102, 0, 0.849);
}

.mb-purple{
    background-color: rgb(132, 0, 165);
}

.mb-green{
    background-color: rgb(27, 136, 0);
}

.mb-yellow{
    background-color: rgb(238, 255, 0);
}

/* Skill Section */

.skills-display{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skill-progress{
    width: 7rem;
    height: 1.4rem;
    background-color: lightgrey;
    border-radius: 0.8rem;
    box-shadow: 0px 0px 4px 2px rgb(156, 156, 156);
    margin-bottom: 70px;
    margin-left: 5%;
    margin-right: 5%;
}

.skill-progress div{
    border-radius: 0.8rem;
}

.skill-name span{
    color: white;
    margin-left: 7px;
    font-size: 17px;
}

/* Percentage Classes */

.progress25{
    width: 25%;
    height: inherit;
}

.progress50{
    width: 50%;
    height: inherit;
}

.progress75{
    width: 75%;
    height: inherit;
}

.progress100{
    width: 100%;
    height: inherit;
}

/* Experience section */

.timeline{
    position: relative;
    width: 70%;
}

.timeline-box{
    position: relative;
    width: 40%;
    margin: 5px;
    left: 5%;
    min-height: 150px;
    
}

.timeline-box:nth-child(2n){
    left: 53%;
}

.timeline-box-header{
    width: 99%;
    display: flex;
}

#company-logo{
    height: 30px;
    margin-right: 10px;
}

.timeline-box:nth-child(2n+1)::after{
    content: '';
    position: absolute;
    top:50%;
    right: -12.5%;
    border-radius: 50%;
    width: 0.8rem;
    height: 0.8rem;
    background-color: rgb(0, 99, 112);
    z-index: 1;
}

.timeline-box:nth-child(2n)::after{
    content: '';
    position: absolute;
    top:50%;
    left: -11%;
    border-radius: 50%;
    width: 0.8rem;
    height: 0.8rem;
    background-color: rgb(0, 99, 112);
    z-index: 1;
}

.timeline-divider{
    position: absolute;
    height: 75%;
    width: 0;
    border: 3px dashed rgb(1, 141, 146);
    left: 50%;
    top: 13%;
    margin-left: -4px;
}

@media screen and (max-width: 600px){
    .timeline-divider{
        left: 5%;
    }

    .timeline-box{
        left: 12% !important;
        width: 90%;
    }

    .timeline-box::after{
        left:-12% !important;
    }
}

.timeline-traveller{
    position: sticky;
    top: 40%;
    transform: rotate(135deg);
    margin-left: 9px;
    z-index: 2;
}

.timeline-traveller img{
    height: 30px;
    
}

/* Job Section */

.job-details{
    width: inherit;
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
    text-align: end;
}

.job-role{
    font-size: 25px;
    font-weight: 600;
    color: darkblue;
}

.company-name{
    font-size: 17px;
    font-weight: 600;
    color: darkorange;
}

.experience-duration{
    font-size: 15px;
    font-weight: 500;
    color: rgb(128, 128, 128);
}

.job-description-para{
    margin-top: 20px;
    color: darkgrey;
    text-align: justify;
}

/* Education section */

.education-details{
    width: inherit;
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
    text-align: end;
}

.education-role{
    font-size: 25px;
    font-weight: 600;
    color: darkorange;
}

.university-name{
    font-size: 17px;
    font-weight: 600;
    color: darkblue;
}

#university_logo{
    height: 75px;
}


/* Contact Section */

#contact{
    background: linear-gradient(90deg, red ,rgb(117, 1, 117),rgb(0, 0, 145), rgb(58, 58, 243));
}

#contact span{
    color: aliceblue;
}

.contact{
    display: flex;
    width: 70%;
    justify-content: space-between;
}

.getintouch{
    border: 2px solid white;
    text-align: center;
}

.getintouch span{
    font-size: 1.7rem;
}

.contact-socialmedia{
    border: 2px solid white;
}

.contacts-divider{
    position: relative;
    height: inherit;
    width: 0;
    border: 2px solid white;
}

.vertical-list{
    list-style: none;
    text-align: start;
    font-size: 1.4rem;
    margin-left: -30px;
    margin-bottom: 5px;
    color: white;
}

.vertical-list li img{
    height: 20px;
}

.vertical-list li a{
    color: aliceblue;
    font-style:italic;
    text-decoration: none;
    
}

/* Certifcations */

.container{
    width: 80%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 8%;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
}

.gallery img{
    width: 100%;
    transition: all 3s ;
}

.gallery img:hover{
    box-shadow: darkgray 0px 0px 30px 30px;
    transition: all 0.2s ;
}